/* -------------------- CSSは一番下から書き始めてください！ -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.header-wrapper {
  position :relative;
}

.header-menu {
  height: 65px;
  width: 100%;
  position: absolute;
}

.logo {
  margin-top: 5px;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.header-left {
  float: left;
}
.header-center {
  float: left;
  margin-left: 40px;
}
.header-right {
  float: right;
}

.header-center a, .header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-center a:hover, .header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}



.top-wrapper {
  padding: 260px 0 100px 0;
  background-image: url(https://pbs.twimg.com/media/DbYf16YVAAElVW2.jpg:large);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper p {
  opacity: 0.7;
}



.back-top {
  padding: 260px 0 100px 0;
}
.back-bottom {
  padding: 260px 0 100px 0;
  background-color: rgb(221,202,175);
}



footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}
footer .logo {
  color: #b3aeb5;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
