/* -------------------- CSSは一番下から書き始めてください！ -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.header-wrapper {
  position :relative;
}

.header-menu {
  height: 65px;
  width: 100%;
  position: absolute;
  top: 10px
}

.logo {
  margin-top: 5px;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.header-left {
  float: left;
}
.header-center {
  float: left;
  margin-left: 80px;
}
.header-right {
  float: right;
}

.header-center a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a{
  line-height: 65px;
  padding: 0 15px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-center a:hover, .header-right a:hover {
  color: rgb(221,202,175);
}



.top-wrapper {
  padding: 290px 0 110px 0;
  background-image: url(https://pbs.twimg.com/media/DbYf16YVAAElVW2.jpg:large);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}



.about-wrapper {
  position: relative;
}

.about-images {
  position: absolute;
  top: 60px;
  right: 0;
  width: 75%;
  height: auto;
}

.back-top {
  padding: 200px 0 150px 0;
}
.back-bottom {
  padding: 200px 5% 40px 5%;
  background-color: rgba(221,202,175,0.7);
}

.heading h1{
opacity: 0.7;
padding: 0.25em 0;
}
.heading h1:after {
content: "";
display: block;
height: 4px;
background: -moz-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
.message p {
  letter-spacing: 0.1em;
  line-height: 2.0;
  text-align: justify;
  text-justify: inter-ideograph;
}



.photo-wrapper {
  padding: 20px 5% 40px 5%;
}
.photo-read {
  padding-bottom: 20px;
}

.photo {
  float: left;
  width: 25%;
}
.photo-image {
  position: relative;
  font-size: 12px;
}
.photo-image img {
  width: 90%;
  height: auto;
  vertical-align: bottom;
}
.photo-image p {
  position: absolute;
  bottom: -14px;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  padding: 5px 5px;
}

.photo a:hover {
  opacity: 0.7;
}

.text p {
  font-size: 14px;
  padding: 0 12px 0 0;
  width: 90%;
  text-align: justify;
  text-justify: inter-ideograph;
}

.clear {
  clear: left;
}


.movie-wrapper {
  padding: 20px 5% 50px;
  background-color: rgba(221,202,175,0.7);
}

.youtube {
    position: relative;
    max-width: 100%;
    padding-top: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*影をつける*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
.social-link {
  display: none;
}
footer .logo {
  color: #b3aeb5;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}
